/*-- scss:defaults --*/

:root {
  --callout-card-border-width: 0px;
  --callout-card-border-opacity: 0.25;
  --callout-card-padding: var(--size-4-3) var(--size-4-3) var(--size-4-3) var(--size-4-6);
  --callout-card-radius: var(--radius-s);
  --callout-card-blend-mode: var(--highlight-mix-blend-mode);
  --callout-card-title-color: inherit;
  --callout-card-title-padding: 0;
  --callout-card-title-size: inherit;
  --callout-card-content-padding: 0;
  --callout-card-content-background: transparent;
  --callout-card-bug: var(--color-red-rgb);
  --callout-card-default: var(--color-blue-rgb);
  --callout-card-error: var(--color-red-rgb);
  --callout-card-example: var(--color-purple-rgb);
  --callout-card-fail: var(--color-red-rgb);
  --callout-card-important: var(--color-cyan-rgb);
  --callout-card-info: var(--color-blue-rgb);
  --callout-card-question: var(--color-yellow-rgb);
  --callout-card-success: var(--color-green-rgb);
  --callout-card-summary: var(--color-cyan-rgb);
  --callout-card-tip: var(--color-cyan-rgb);
  --callout-card-todo: var(--color-blue-rgb);
  --callout-card-warning: var(--color-orange-rgb);
}

.callout-card {
  --callout-card-color: var(--callout-card-default);
  --callout-card-icon: lucide-pencil;
}
.callout-card[data-callout-card="abstract"],
.callout-card[data-callout-card="summary"],
.callout-card[data-callout-card="tldr"] {
  --callout-card-color: var(--callout-card-summary);
  --callout-card-icon: lucide-clipboard-list;
}
.callout-card[data-callout-card="info"] {
  --callout-card-color: var(--callout-card-info);
  --callout-card-icon: lucide-info;
}
.callout-card[data-callout-card="todo"] {
  --callout-card-color: var(--callout-card-todo);
  --callout-card-icon: lucide-check-circle-2;
}
.callout-card[data-callout-card="important"] {
  --callout-card-color: var(--callout-card-important);
  --callout-card-icon: lucide-flame;
}
.callout-card[data-callout-card="tip"],
.callout-card[data-callout-card="hint"] {
  --callout-card-color: var(--callout-card-tip);
  --callout-card-icon: lucide-flame;
}
.callout-card[data-callout-card="success"],
.callout-card[data-callout-card="check"],
.callout-card[data-callout-card="done"] {
  --callout-card-color: var(--callout-card-success);
  --callout-card-icon: lucide-check;
}
.callout-card[data-callout-card="question"],
.callout-card[data-callout-card="help"],
.callout-card[data-callout-card="faq"] {
  --callout-card-color: var(--callout-card-question);
  --callout-card-icon: help-circle;
}
.callout-card[data-callout-card="warning"],
.callout-card[data-callout-card="caution"],
.callout-card[data-callout-card="attention"] {
  --callout-card-color: var(--callout-card-warning);
  --callout-card-icon: lucide-alert-triangle;
}
.callout-card[data-callout-card="failure"],
.callout-card[data-callout-card="fail"],
.callout-card[data-callout-card="missing"] {
  --callout-card-color: var(--callout-card-fail);
  --callout-card-icon: lucide-x;
}
.callout-card[data-callout-card="danger"],
.callout-card[data-callout-card="error"] {
  --callout-card-color: var(--callout-card-error);
  --callout-card-icon: lucide-zap;
}
.callout-card[data-callout-card="bug"] {
  --callout-card-color: var(--callout-card-bug);
  --callout-card-icon: lucide-bug;
}
.callout-card[data-callout-card="example"] {
  --callout-card-color: var(--callout-card-example);
  --callout-card-icon: lucide-list;
}
.callout-card[data-callout-card="quote"],
.callout-card[data-callout-card="cite"] {
  --callout-card-color: var(--callout-card-quote);
  --callout-card-icon: quote-glyph;
}
.callout-card {
  overflow: hidden;
  border-style: solid;
  border-color: rgba(var(--callout-card-color), var(--callout-card-border-opacity));
  border-width: var(--callout-card-border-width);
  border-radius: var(--callout-card-radius);
  margin: 1em 0;
  mix-blend-mode: var(--callout-card-blend-mode);
  background-color: rgba(var(--callout-card-color), 0.1);
  padding: var(--callout-card-padding);
}
.callout-card.is-collapsible .callout-card-title {
  cursor: var(--cursor);
}
.callout-card-title {
  padding: var(--callout-card-title-padding);
  display: flex;
  gap: var(--size-4-1);
  font-size: var(--callout-card-title-size);
  color: rgb(var(--callout-card-color));
  line-height: var(--line-height-tight);
  align-items: flex-start;
}
.callout-card-content {
  overflow-x: auto;
  padding: var(--callout-card-content-padding);
  background-color: var(--callout-card-content-background);
}
.callout-card-icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
.callout-card-icon .svg-icon {
  color: rgb(var(--callout-card-color));
}
.callout-card-icon::after {
  content: "\200B";
}
.callout-card-title-inner {
  font-weight: var(--bold-weight);
  color: var(--callout-card-title-color);
}
.callout-card-fold {
  display: flex;
  align-items: center;
  padding-right: var(--size-4-2);
}
.callout-card-fold::after {
  content: "\200B";
}
.callout-card-fold .svg-icon {
  transition: transform 100ms ease-in-out;
}
.callout-card-fold.is-collapsed .svg-icon {
  transform: rotate(-90deg);
}
