/*-- scss:defaults --*/



// $quarto-hl-at-color: #42affa;

$shadow-color: rgba(0, 0, 0, 0.4);
$shadow-border: #E599F7;

$bg-transparent: rgba(248, 248, 248, 0.05);

// colors
$brighter-text: #000000;
$bright-text: #111111;
$alt-text: #282828;
$dim-text:   #808080;
$dim-color:  #b8b8b8;
$mygrey-000: #1c1c1c;
$mygrey-010: #222222;
$mygrey-020: #282828;
$mygrey-030: #333333;
$mygrey-040: #444444;
$mygrey-050: #555555;
$mygrey-060: #666666;
$mygrey-070: #777777;
$mygrey-080: #888888;
$mygrey-090: #999999;
$mygrey-100: #b8b8b8;
$mygrey-999: #f8f8f8;


// $callout-warning: #fd971f;
$callout-note-color: #4582ec;
$callout-tip-color: #02b875;
$callout-warning-color: #FD971F;
$callout-caution-color: #e599F7;
$callout-important-color: #FF5252;

$myred:    #FF5252;
$myorange: #FD971F;
$myyellow: #FFCA27;
$mygreen:  #63FF5b;
$myblue:   #4582ec;  // #00CCFF
$mypurple: #AE81FF;
$mypink:   #FF67FF;

// $green-text: #66BB6A;
$green-text: #07B875;
$orcid-green: #A6CE39;
$red-text: #FF5252;
$blue-text: #29B6F6;

$body-bg: #ffffff;
$alt-bg: #b8b8b8;
// $dim-text: #444444;
$body-color: #222222;

$italic-color: #F06292;
$strong-color: #000000;

$interactive-accent-hsl: #FFFF00;
$text-selection: hsla(var($interactive-accent-hsl), 0.25);

$selection-bg: rgba(255, 255, 0, 0.5);
$selection-color: #1c1c1c;

// fonts
$font-family-sans-serif: "IBM Plex Sans", "Source Sans Pro", "Inter", Open Sans, Helvetica, sans-serif !default;

// $font-family-monospace: 'Iosevka Web', 'agave Nerd Font', Menlo, Monaco, Consolas, monospace !default;
$font-family-monospace: "IBM Plex Mono", "Iosevka Web", "agave Nerd Font", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace!default;
// $font-family-monospace: "agave Nerd Font", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;


// line height
$presentation-font-family-line-height: 1.0em !default;
$presentation-line-height: 1.0em !default;

// headings
$heading-color: #1c1c1c;
$presentation-h1-font-size: 1.5em !default;
$presentation-h2-font-size: 1.33em !default;
$presentation-h3-font-size: 1.25em !default;
$presentation-h4-font-size: 1.1em !default;
$presentation-h5-font-size: 1.05em !default;
$presentation-h6-font-size: 1.0em !default;
$presentation-heading-color: $heading-color !default;
// headings
// $presentation-heading-line-height: 1.0em !default;
$presentation-heading-font-weight: 600 !default;
$presentation-h1-text-shadow: none !default;
$presentation-heading-text-shadow: none !default;
$presentation-heading-text-transform: none !default;
$presentation-heading-letter-spacing: normal !default;
$presentation-heading-font: IBM Plex Sans Condensed, Open Sans, Playfair Display, Helvetica, sans-serif, $font-family-sans-serif !default;

// links
// $link-color: #42affa;
$link-color: #1A8FFF !default;
$link-color-hover: #F06292 !default;
$light-bg-link-color: #1A8FFF !default;
// code blocks
// $code-block-border-color: lighten($body-color, 60%) !default;
// $dark-bg-code-color: #E599F7 !default;
$code-block-bg-color: #F7F7F7!default;
$code-block-bg: $code-block-bg-color !default;

$dark-bg-code-color: #ff67ff !default;
$code-block-border-color: #f9f9f9 !default;
$code-block-font-size: 0.9em !default;

// inline code
// $code-color: var(--quarto-hl-fu-color) !default;
// color: #F06292;
// $light-bg-code-color: #DD4A68 !default;
// $light-bg-code-color: #F06292 !default;
// $light-bg-code-color: #AE81FF !default;
$light-bg-code-color: #A477F5 !default;
$light-bg-code-bg: #F7F7F7 !default;
$code-color: $light-bg-code-color !default;
$code-bg: $light-bg-code-bg !default;

// $dark-bg-code-color: #FF67FF!default;
// $dark-bg-code-bg: #1f1f1f!default;
// $code-color: $dark-bg-code-color;
// $code-bg: $dark-bg-code-bg;

// $tabset-border-color: $code-block-border-color !default;

$presentation-font-size-root: 30px !default;

$algcolor: #F783AC !default;
$algicon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="currentColor" d="M414.9 31.11L270.9 495.1C266.1 507.8 253.5 514.8 240.9 510.9C228.2 506.1 221.1 493.5 225.1 480.9L369.1 16.89C373 4.226 386.5-2.852 399.1 1.077C411.8 5.006 418.9 18.45 414.9 31.11V31.11zM504.4 118.5L632.4 238.5C637.3 243 640 249.4 640 255.1C640 262.6 637.3 268.1 632.4 273.5L504.4 393.5C494.7 402.6 479.6 402.1 470.5 392.4C461.4 382.7 461.9 367.6 471.6 358.5L580.9 255.1L471.6 153.5C461.9 144.4 461.4 129.3 470.5 119.6C479.6 109.9 494.7 109.4 504.4 118.5V118.5zM168.4 153.5L59.09 255.1L168.4 358.5C178.1 367.6 178.6 382.7 169.5 392.4C160.4 402.1 145.3 402.6 135.6 393.5L7.585 273.5C2.746 268.1 0 262.6 0 255.1C0 249.4 2.746 243 7.585 238.5L135.6 118.5C145.3 109.4 160.4 109.9 169.5 119.6C178.6 129.3 178.1 144.4 168.4 153.5V153.5z"/></svg>') !default;
$algbg: #1c1c1c !default;


// $blockquote-bg: HSLA(0, 0, 72, 0.05);
$blockquote-bg: $bg-transparent;
$blockquote-border: #cccccc;
$blockquote-text: #666666;

/*-- scss:rules --*/

:root {
    --callout-note-color: $callout-note-color;
    --callout-tip-color: $callout-tip-color;
    --callout-warning-color: $callout-warning-color;
    --callout-caution-color: $callout-caution-color;
    --callout-important-color: $callout-important-color;
    --green-text: #07B875;
    --bg-border: rgba(240, 240, 240, 1.0);
    --bg-transparent: rgba(248, 248, 248, 0.05);
    --pink-transparent: rgba(245, 83, 191, 0.075);
    --callout-warning: #FD971F;
}



.callout.callout-style-simple .callout-body,
.callout.callout-style-default .callout-body,
.callout.callout-style-simple div.callout-caption,
.callout.callout-style-default div.callout-caption {
  font-size: inherit;
}

.callout.callout-titled .callout-icon::before {
    margin-top: unset!important;
}

.callout.callout-titled .callout-icon::before {
    height: -webkit-fill-available!important;
}

.callout.callout-style-default .callout-icon::before,
.callout.callout-style-simple .callout-icon::before {
    width: 1em!important;
    height: 1em!important;
    // height: -webkit-fill-available!important;
    background-size: 1em 1em!important;
}
// .callout.callout-style-default .callout-icon::before,
// .callout.callout-style-simple .callout-icon::before {
//   height: 2rem;
//   width: 2rem;
//   background-size: 2rem 2rem;
// }

// .callout.callout-captioned .callout-icon::before {
//   margin-top: 1rem;
// }

.callout.callout-captioned .callout-caption p {
  margin-top: 0.5em;
}

.callout.callout-captioned
  .callout-body
  > .callout-content
  > :last-child {
    margin: auto;
}

.green-text {
    color: $green-text;
}

.orcid-green {
    color: $orcid-green!important;
}

.yellow-text {
    color: $myyellow;
}

.red-text {
    color: $red-text;
}

.orange-text {
    color: $myorange;
}


.dim-text {
    color: $dim-text;
}

.purple-text {
    color: $mypurple;
}

.blue-text {
    color: $myblue;
}

.pink-text {
    color: $mypink;
}

.note-green {
    padding: 1pt 1pt 1pt 1pt;
    border:1px solid #66BB6A;
    border-radius:8px;
    box-shadow: RGBA(0, 0, 0, 0.35) 0px 5px 15px;
    // background-color: #1f1f1f;
    max-width: min-content;
    min-width: max-content;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
}

.callout.callout-style-default div.callout-title{
    font-size: 1.0em!important;
}
.callout-title {
    font-size:1.0em!important;
}

// .callout-caution {
//     border: 1px solid #E599F7!important;
// }


.callout.callout-style-default div.callout-title {
    font-size: 1.0em !important;
}

small * {
    vertical-align: baseline!important;
}

// .msupsub {
//     vertical-align: baseline;
// }

.slide figure>figcaption {
    text-align:center;
}

figure>figcaption {
    margin-top: 0.2em;
}

boxed {
    border-radius: 6px!important;
    display: block;
    position: relative;
    width: fit-content!important;
    // font-size: 0.9em;
    color: $mygrey-080;
    background-color: #1f1f1f;
    box-shadow: RGBA(0, 0, 0, 0.85) 0px 5px 15px!important;
    margin-right: revert!important;
    padding: 0em 0.1em 0em 0.3em;
}

.callout.callout-style-simple {
    padding-bottom: 0.5em!important;
}

.callout.callout-style-simple:hover {
  /* border: 1px solid var(--callout-border-hover-color)!important; */
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px 15px;
    // box-shadow: 0px 10px 30px $shadow-color;
    // box-shadow: $shadow-color 0px 5px 15px 0px;
    box-shadow: 0 0 5px 2px #0000001a;
    border: 2px solid $code-color;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 30px; */
}


// .slide ul li, .slide ol li {
//     margin-top: 0.2em!important;
//     margin-bottom: 0.1em!important;
// }

// .hanging-indent div.csl-entry {
//     font-size: 0.9em;
//     margin-left: 2em;
//     text-indent: -2em!Important;
// }

.reveal .slide-chalkboard-buttons {
    display: none!important;
}

.slide-chalkboard-buttons.slide-menu-offset {
    display: none!important;
}

// pre,code,kbd,samp {
//     font-family: $font-family-monospace;
//     // font-size: 1em;
//     direction: ltr ;
//     unicode-bidi: bidi-override
// }
//
// pre {
//     // display: block;
//     // margin-top: 0;
//     font-family: $font-family-monospace;
//     // margin-bottom: 1rem;
//     overflow: auto;
//     // font-size: 1em;
//     // color: #838383;
//     // font-family: monospace!important;
//     // line-height: 0.9em!important;
//     // padding: .5rem;
//     // border: 1px solid #dee2e6;
//     // border-radius: .25rem
// }
//
// pre code {
//     background-color: #f8f8f8;
//     font-family: $font-family-monospace;
//     // font-size: inherit;
//     color: inherit;
//     word-break: normal
// }
//
// code {
//     font-size: 1.0em;
//     color: #F06292;
//     // background-color: #1f1f1f;
//     // border-radius: .25rem;
//     // padding: .125rem .25rem;
//     word-wrap: break-word
// }
//
// a>code {
//     color: inherit
// }

div.callout-note.callout-style-default>.callout-header {
    background: none;
}

.callout.callout-style-default>div.callout-header {
    align-items: center;
}
div.callout-note.callout-style-default>.callout-header {
    background: none;
    // background-color: rgba(0,0,0,0);
}

.callout.callout-style-simple>div.callout-header {
    opacity: 100%!important;
}

.callout.callout-style-default, .callout.callout-style-simple {
    display: inline-block;
}

// .callout-note .callout-title-container {
//     color: $callout-note-color;
//     font-size: 1.1em;
//     font-weight: 700;
// }
// .callout-tip .callout-title-container {
//     color: $callout-tip-color;
//     font-size: 1.1em;
//     font-weight: 700;
// }
// .callout-warning .callout-title-container {
//     color: $callout-warning-color;
//     font-size: 1.1em;
//     font-weight: 700;
// }
// .callout-caution .callout-title-container {
//     color: $callout-caution-color;
//     // color: #E599F7;
//     font-size: 1.1em;
//     font-weight: 700;
// }
// .callout-important .callout-title-container {
//     color: $callout-important-color;
//     // color: #FF5252;
//     font-size: 1.1em;
//     font-weight: 700;
// }


// .cell-output cell-output-display {
//     font-family: monospace;
//     display: contents;
// }
//
// pre {
//     font-family: monospace;
//     display: contents!important;
// }

code span.fl {
    color: #2196FF;
}

code span.dv {
    color: #2196F3;
}

code span.kw {
    // color: #F06292;
    color: #f92672;
}

// code span.bu {
//     color: #AB47BC;
// }

div.callout-caution {
  border: 1px solid #D06DE7 !important;
  // #AF4CC6 #D06DE7
  background-color: rgba(208, 109, 231, 1.0);
}
div.callout-caution.callout-style-default .callout-title {
  background: none!important;
  color: #D06DE7!important;
}
div.callout-caution {
  border: 1px solid #D06DE7 !important;
  background-color: rgba(208, 109, 231, 0.075)! important;
}
div.callout-caution .callout-icon::before {
  color: #D06DE7!important;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="rgb(229, 153, 247)" d="M448 352V48C448 21.53 426.5 0 400 0h-320C35.89 0 0 35.88 0 80v352C0 476.1 35.89 512 80 512h344c13.25 0 24-10.75 24-24s-10.75-24-24-24H416v-66.95C434.6 390.4 448 372.8 448 352zM368 464h-288c-17.64 0-32-14.34-32-32s14.36-32 32-32h288V464zM400 352h-320c-11.38 0-22.2 2.375-32 6.688V80c0-17.66 14.36-32 32-32h320V352zM152 160h176C341.3 160 352 149.3 352 136S341.3 112 328 112h-176C138.8 112 128 122.8 128 136S138.8 160 152 160zM152 240h176C341.3 240 352 229.3 352 216S341.3 192 328 192h-176C138.8 192 128 202.8 128 216S138.8 240 152 240z"/></svg>')!important;
}

.navbar-dark {
    background-color: #f8f8f8;
    color: #838383;
    // box-shadow: RGBA(100, 100, 100, 0.15) 0px 5px 15px;
    // color: #222222!important;
}


.navbar {
    background-color: #f8f8f8;
    color: #838383;
}
