// @import "cards";
// @import "pop";

/*-- scss:defaults --*/

$presentation-h1-font-size: 1.15em !default;
$tabset-border-color: #666 !default;

/*-- scss:rules --*/

.reveal .slide aside .aside-footnotes {
  margin-bottom: 1em;
}
//
// .reveal .slide aside .aside-footnotes li:first-of-type {
//     position: absolute!important;
//     bottom: 20px!important;
//     margin-bottom: unset!important;
//     font-size: 0.7em!important;
//     color: $dim-text!important;
// }
//
// .reveal .slide aside, .reveal .slide aside .aside-footnotes .reveal .slide div.aside {
//     position: absolute!important;
//     bottom: 20px!important;
//     margin-bottom: unset!important;
//     font-size: 0.7em!important;
//     color: $dim-text!important;
// }
//
// .reveal .slide aside,
// .reveal .slide aside .aside-footnotes
// .reveal .slide div.aside {
//     position: absolute;
//     bottom: 20px;
//     // display: block;
//     // margin: inherit;
//     // padding-bottom: 1em!important;
//     font-size: 0.7em;
//     color: $dim-text;
// }
// .reveal .slide aside {
//     position: absolute!important;
//     bottom: 20px!important;
//     margin-bottom: inherit;
//     font-size: 0.7em!important;
//     color: $dim-text!important;
// }
// .reveal.center .slide aside, .reveal.center .slide div.aside {
//      position: absolute!important;
//     bottom: 20px!important;
//     font-size: 0.7em!important;
//     color: $dim-text!important;
// }
//
// .reveal .slide.scrollable aside,.reveal .slide.scrollable div.aside {
//     position: relative;
//     margin-top: 1em
// }

.reveal .slide aside .aside-footnotes {
    // position: fixed!important;
    // margin-top: 1em!important;
    // bottom: 2px!important;
    // font-size: 0.7em!important;
    color: $dim-text!important;
    font-size: initial;
    bottom: 0px;
}

.reveal .slide aside .aside-footnotes li:first-of-type {
    margin-top: 0
}

.reveal .slide sup {
    font-size: 0.7em;
}


// .reveal strong,.reveal b {
//     font-weight: bold;
//     // color: $strong-color;
// }

.reveal em {
    font-style: italic;
    color: $italic-color;
}

.reveal .slide-menu-button .fa-bars::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{colorToRGB($link-color)}" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>');
}

// .callout.callout-style-default,
// .callout.callout-style-simple {
//     padding: 0em 0.5em;
//     border-left: solid #acacac .3rem;
//     border-right: solid 1px silver;
//     border-top: solid 1px silver;
//     border-bottom: solid 1px silver;
//     display: flex;
// }

.reveal .rcard{
    text-shadow: 0px 0px 10px RGBA(0, 0, 0.45);
        background-color: rgba(22,22,22,0.33);
        border-radius: 10px;
        text-align: center;
        box-shadow: RGBA(0, 0, 0, 0.45) 0px 5px 15px;
        text-align: center;
}

.reveal .slide-logo {
    display: block;
    position: fixed;
    bottom: 0;
    right: 20px;
    // max-height: 2.25rem;
    max-height: 16px;
    height: 100%;
    width: auto;
    z-index: 2;
}


// .reveal .panel-tabset [role=tab][aria-selected=false] {
//     height: fit-content;
//     // background-color: rgba(0,0,0,0);
//     color: $link-color-hover!important;
//     border: none;
//     // font-weight: bold;
//     // font-variant: it
//     box-shadow: RGBA(0, 0, 0, 0.15) 0px 2px 5px!important;
//     // border-bottom-color: #fff;
//     background-color: $code-block-bg-color!important;
//
// }

// .reveal .panel-tabset [role=tab][aria-selected=false] {
//     height: fit-content;
//     color: $link-color-hover!important;
//     text-decoration: underline!important;
//     border: 2px solid $code-color!important;
//     box-shadow: RGBA(0, 0, 0, 0.25) 0px 2px 7px!important;
//     background-color: $code-block-bg-color!important;
// }

// .reveal .panel-tabset {
//     width: 100%;
// }

.reveal .panel-tabset [role=tab][aria-selected=true] {
    // height: fit-content;
    color: $link-color-hover!important;
    border: 2px solid $code-color!important;
    box-shadow: RGBA(0, 0, 0, 0.15) 0px 2px 5px!important;
    background-color: $code-block-bg-color!important;
    // font-size: 0.8em!important;
}

.reveal a {
    color: var(--r-link-color);
    text-decoration: none;
    transition: color .15s ease;
    text-decoration: underline;
}


media print{
.backgrounds{background-color:var(--r-background-color)}
}

.reveal .media .print code {
    box-shadow: unset;
}

.reveal .media .print blockquote {
    display: block;
    font-style: unset;
    position: relative;
    width: 100%;
    // margin: var(--r-block-margin) auto;
    margin: inherit;
    padding: 5px;
    font-style: none!important;
    background: $blockquote-bg;
    // box-shadow: 0px 0px 2px rgba(0,0,0,.2);
    border-radius: 4px!important;
    display: block;
    position: relative;
    // width: fit-content!important;
    /* padding-left: 2pt; */
    /* padding-right: 2pt; */
    // font-size: 0.95em;
    // font-style: italic;$dark-bg-code-bg
    color: $alt-text;
    border-left: 4px solid $mygrey-080!important;
    box-shadow: none;
    // box-shadow: 0 0 5px 2px #0000001a;
    // margin: var(--r-block-margin) auto;
    // padding: 5px;
    /* max-width: min-content + 20px; */
    /* min-width: max-content; */
    // margin-left: 5pt!important;
    margin-right: revert!important;
    padding: 0em 0.1em 0em 0.3em;
    // display: -webkit-inline-box;

}

html.print-pdf .reveal pre code {
    overflow: hidden !important;
    font-family: "IBM Plex Mono", "Courier,"Courier New",monospace !important";
}

html.print-pdf .sourceCode {
    border: 1px solid rgba(0,0,0,0);
    border-radius: .25rem;
    box-shadow: none;
}

html.print-pdf .blockquote {
    border: 1px solid rgba(0,0,0,0);
    border-radius: .25rem;
    box-shadow: none;
}

html.print-pdf .reveal pre code {
    overflow: hidden !important;
    font-family: "IBM Plex Mono", "Courier","Courier New",monospace !important;
}

html.print-pdf .reveal pre code {
    overflow: hidden !important;
    font-family: var(--bs-font-monospace)!important;
}

code a:any-link {
    color: $dim-text;
    text-decoration: none;
}

.code .source-line {
    color: $dim-text!important;
}

// .reveal .slide ul li, .reveal .slide ol li {
//     margin-top: 0.4em;
//     margin-bottom: 0.2em;
//     margin-left: inherit;
// }

.reveal pre code {
    display: block;
    // padding: 5px;
    overflow: visible;
    // max-height: 400px;
    word-wrap: normal;
}

// .reveal .slide aside, .reveal .slide div.aside {
//     position: absolute;
//     bottom: 20px;
//     font-size: 0.5em;
//     color: #6f6f6f;
// }


.reveal .slide ul, .reveal .slide ol {
    margin-bottom: 0.5em;
    padding: revert-layer;
}

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
    display: block;
    margin-left: 10px;
}

.reveal code {
    color: #a477f5;
    background-color: #f7f7f7;
    white-space: pre-wrap;
    font-size: 0.9em!important;
    padding: 0 3px;
}

.reveal .slide aside .aside-footnotes {
    color: #666 !important;
}
